body {
    margin: 30px;
    background-image: url('../images/image1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
  }
  .container {
    font-family: 'Playfair Display', serif;
  }
  .footer {
      clear: both;
      font-family: 'Playfair Display', serif;
      font-size: 20px;
      text-align: center;
      background-color: #343a40;
      color: whitesmoke;
  }
  .navbar {
    font-family: 'Playfair Display', serif;
  }
  input[type=text], select, textarea {
    width: 100%;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
  }
  
  
  input[type=submit] {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    padding: 20px;
  }